body {
	background-color: #202020;
	color:white;
}

.header {
	font-size: 20px;
	line-height: 1.5;
	margin: 60px auto;
}

.section {
	padding: 30px 0;
}

.header span {
	display: block;
}

.form-header, .section-header {
	font-size: 20px;
	font-weight: 900;
}

.form {
	border:5px solid blue;
	padding: 35px 20px;
}

.form-btn {
	margin:10px auto;
}

.feature {
	margin: 60px auto;
}

.feature p {
margin-top: 20px;
}

.video {
	margin-bottom: 30px;
}

.feature-box {
	height: 220px;
}