@font-face {
    font-family: 'Neris';
    src: url('Neris-Thin.eot');
    src: url('Neris-Thin.eot?#iefix') format('embedded-opentype'),
        url('Neris-Thin.woff2') format('woff2'),
        url('Neris-Thin.woff') format('woff'),
        url('Neris-Thin.ttf') format('truetype'),
        url('Neris-Thin.svg#Neris-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

